In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [3]:
df=pd.read_csv(r"K:\Kaggle data sets\data.csv")

In [4]:
df.head(10)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
5,58896,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,0,85,0
6,20379,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,0,59,0
7,16290,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,0,63,0
8,73202,Analytics,region_20,Bachelor's,m,other,1,28,4.0,5,0,0,83,0
9,28911,Sales & Marketing,region_1,Master's & above,m,sourcing,1,32,5.0,5,1,0,54,0

# 1-How many rows and columns are there in the dataset?

In [7]:
df.shape

(54808, 14)

# 2-What are the unique values in the 'department' column?

In [10]:
df.department.unique()

array(['Sales & Marketing', 'Operations', 'Technology', 'Analytics',
       'R&D', 'Procurement', 'Finance', 'HR', 'Legal'], dtype=object)

# 3-How many unique regions are covered in the dataset?

In [11]:
df.region.unique()

array(['region_7', 'region_22', 'region_19', 'region_23', 'region_26',
       'region_2', 'region_20', 'region_34', 'region_1', 'region_4',
       'region_29', 'region_31', 'region_15', 'region_14', 'region_11',
       'region_5', 'region_28', 'region_17', 'region_13', 'region_16',
       'region_25', 'region_10', 'region_27', 'region_30', 'region_12',
       'region_21', 'region_8', 'region_32', 'region_6', 'region_33',
       'region_24', 'region_3', 'region_9', 'region_18'], dtype=object)

# 4-What are the different levels of education among the employees?

In [13]:
df.education.unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

# 5-How many male and female employees are there in the dataset?

In [26]:
df.gender.value_counts()

m    38496
f    16312
Name: gender, dtype: int64

# 6-What are the different recruitment channels used by the company?

In [27]:
df.recruitment_channel.unique()

array(['sourcing', 'other', 'referred'], dtype=object)

# 7-What is the maximum number of trainings attended by an employee?

In [6]:
df.no_of_trainings.max()
#df.loc[df.no_of_trainings.max()] #Prints the Row that has an index 10

employee_id                  29934
department              Technology
region                   region_23
education                      NaN
gender                           m
recruitment_channel       sourcing
no_of_trainings                  1
age                             30
previous_year_rating           NaN
length_of_service                1
KPIs_met >80%                    0
awards_won?                      0
avg_training_score              77
is_promoted                      0
Name: 10, dtype: object

# 8-What is the average age of employees in the dataset?

In [33]:
df.age.mean()

34.80391548679025

# 9-What is the maximum length of service among the employees?

In [34]:
df.length_of_service.max()

37

# 10-What percentage of employees in the dataset were actually promoted?

In [53]:
((df.is_promoted[df.is_promoted ==1].count()) /(df.is_promoted.count())) * 100

8.517004816815064

# 11-What is the average age of promoted employees compared to non-promoted ones?

In [76]:
print("the age of promoted employees is:      ",df.age[df.is_promoted ==1].mean())
print("the age of non-promoted employees is:  ",df.age[df.is_promoted ==0].mean())

the age of promoted employees is:       71.32519280205655
the age of non-promoted employees is:   62.64768647786199

# 12-How does the average training score differ between promoted and non-promoted employees?

In [80]:
print("the average training score of promoted employees     is:      ",df["avg_training_score"][df.is_promoted ==1].mean())
print("the average training score of non-promoted employees is:      ",df["avg_training_score"][df.is_promoted ==0].mean())

the average training score of promoted employees     is:       71.32519280205655
the average training score of non-promoted employees is:       62.64768647786199

# 13-What is the average length of service for promoted employees?

In [83]:
print("The average length of service of promoted employees     is:      ",df["length_of_service"][df.is_promoted ==1].mean())

The average length of service of promoted employees     is:       5.716366752356469

# 14-What is the proportion of employees who have won awards among promoted employees?

In [92]:
df[(df["awards_won?"]==1) &(df.is_promoted==1)]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
66,77981,Finance,region_22,Bachelor's,m,other,1,27,NaN,1,1,1,58,1
122,38052,Procurement,region_34,Master's & above,m,sourcing,1,37,5.0,3,0,1,92,1
200,53630,Sales & Marketing,region_23,Master's & above,f,sourcing,1,34,4.0,5,1,1,94,1
230,62923,Operations,region_13,Master's & above,f,other,1,38,5.0,2,1,1,93,1
317,22865,Analytics,region_20,Master's & above,m,other,1,40,5.0,5,0,1,83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54017,69878,Analytics,region_26,Master's & above,m,sourcing,1,41,5.0,5,1,1,90,1
54024,3752,HR,region_2,Master's & above,m,sourcing,1,60,5.0,8,1,1,50,1
54146,37302,Operations,region_2,Bachelor's,m,other,1,37,5.0,7,0,1,79,1
54503,10882,Sales & Marketing,region_25,Master's & above,m,sourcing,2,32,4.0,5,1,1,92,1
54507,43314,Analytics,region_25,Master's & above,m,other,1,35,5.0,3,0,1,81,1

# 15-Is there a correlation between KPIs met >80% and promotion?

In [96]:
correlation = df['KPIs_met >80%'].corr(df['is_promoted'])
correlation

0.22158153967701025

In [111]:
correlation, p_value = pearsonr(df['KPIs_met >80%'], df['is_promoted'])
print("correlation:",correlation)
print("p-value    :",p_value)
print("Therefore, with a p-value of 0.0, you can conclude that there is a highly significant correlation between 'KPIs met >80%' and 'promotion' in The dataset.")

correlation: 0.2215815396770156
p-value    : 0.0
Therefore, with a p-value of 0.0, you can conclude that there is a highly significant correlation between 'KPIs met >80%' and 'promotion' in The dataset.

# 16-What is the correlation between the number of trainings attended and promotion?

In [114]:
correlation, p_value = pearsonr(df['no_of_trainings'], df['is_promoted'])
print("correlation:",correlation)
print("p-value    :",p_value)
print("a weak negative correlation")

correlation: -0.024895917682412498
p-value    : 5.5700139823243074e-09
a weak negative correlation

# 17-How does the length of service correlate with the average training score?

In [115]:
correlation, p_value = pearsonr(df['length_of_service'], df['avg_training_score'])
print("correlation:",correlation)
print("p-value    :",p_value)
print("a weak negative correlation")

correlation: -0.0381221559583849
p-value    : 4.343255715538472e-19
a weak negative correlation

# 18-Is there any correlation between age and the number of trainings attended?

In [116]:
correlation, p_value = pearsonr(df['age'], df['no_of_trainings'])
print("correlation:",correlation)
print("p-value    :",p_value)
print("a weak negative correlation")

correlation: -0.08127788515891315
p-value    : 5.515586459857862e-81
a weak negative correlation

# 19-How can you group the data by department and calculate the average age for each department?

In [122]:
df.groupby(["department"])["age"].mean()

department
Analytics            32.431241
Finance              32.058754
HR                   34.385856
Legal                33.832531
Operations           36.073669
Procurement          35.899972
R&D                  32.842843
Sales & Marketing    34.860629
Technology           34.867190
Name: age, dtype: float64

# 20-What is the total number of trainings attended by employees in each region?

In [123]:
df.groupby(["region"])["no_of_trainings"].sum()

region
region_1       712
region_10      764
region_11     1561
region_12      591
region_13     3121
region_14      937
region_15     3454
region_16     1739
region_17      899
region_18       33
region_19     1041
region_2     16080
region_20     1017
region_21      501
region_22     9036
region_23     1456
region_24      624
region_25     1004
region_26     2696
region_27     2093
region_28     1665
region_29     1167
region_3       390
region_30      761
region_31     2443
region_32     1161
region_33      300
region_34      351
region_4      2017
region_5       910
region_6       803
region_7      6116
region_8       703
region_9       529
Name: no_of_trainings, dtype: int64